ion-content {
    --ion-background-color:#ffffff;
    --background: url("../../assets/bg.jpg");
    background-repeat: repeat;
    background-size: cover;
    ion-list {
        background: transparent;
      ion-item {
        --background: transparent;
        ion-label {
          --ion-text-color: #555;
        }
        ion-input {
          --ion-text-color: #333;
          --ion-background-color: #f4f4f4;
          border: 1px solid #ddd;
          border-radius: 5px;
          margin-top: 5px;
        }
      }
    }
  
    ion-row {
      ion-col {
        ion-button {
          --background: #127305;
          --border-radius:10px;
          --color: #fff;
          margin-top: 10px;
        }
      }
    }
  }